*.DS_Store
*.rar
*.sublime-*
*.zip
_gh_pages
actual
bower_components
examples
node_modules
npm-debug.log
temp
test/actual
tmp
TODO.md
vendor


# npmignore
.*
benchmark
cli*
example.js
fixtures
grunt*
gulp*
test.js
test/
bower.json
